body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    background: url('https://cdn.pixabay.com/photo/2017/05/10/19/14/ice-2301602_960_720.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.menu-bar {
    position: sticky;
    top: 0;
    z-index: 99;
    background: #333;
    padding: 15px;
    border-bottom: 5px solid red;
}
.dropdown button {
    display: none;
}

.menu-bar a:hover {
    background: red;
    padding: 16px;
}
.menu-bar a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.head {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    padding: 10px;
}
.header {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}
.header h1 {
    font-family: cursive;
    color: white;
}
.header .box-text {
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
}
.header a {
    width: 15%;
    padding: 10px;
    background: blue;
    color: white;
    outline: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.header button:hover {
    cursor: pointer;
    border: 2px solid #f5f5f5ce;
}

/* --------------------------------Home Page Content---------------------------------------- */
.home-page {
    background: #f7d2ad;
}
.content {
    padding: 10px;
    width: 90%;
    margin: auto;
}
.content h1 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    margin-top: 80px;
}
.content span {
    color: tomato;
    font-family: 'Times New Roman', Times, serif;
}
.breakfast,
.lunch,
.dinner,
.drink {
    display: flex;
    justify-content: space-between;
}
.content h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 28px;
    margin-left: 20px;
}
.image1,
.image2,
.image3,
.image4 {
    padding: 10px;
    width: 23%;
}
.image1 p,
.image2 p,
.image3 p,
.image2 p {
    font-size: 18px;
    font-weight: lighter;
}
.image1 img,
.image2 img,
.image3 img,
.image4 img {
    border-radius: 10px;
    width: 100%;
}
.image1 img:hover,
.image2 img:hover,
.image3 img:hover,
.image4 img:hover {
    cursor: pointer;
}
.desert {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.box1,
.box2,
.box3,
.box4 {
    padding: 30px;
    width: 18%;
    display: flex;
    border: 1px solid #1616161f;
    border-radius: 10px;
}
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
    background: white;
    cursor: pointer;
}
.box1 img,
.box2 img,
.box3 img,
.box4 img {
    width: 25%;
}
.desert .text {
    font-size: 22px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/* ----------------------------------Gallery Page------------------------------------ */

.gallery-page {
    background: linear-gradient(to top right, rgba(255, 68, 0, 0.9), rgba(153, 205, 50, 0.9), rgba(255, 166, 0, 0.9));
    padding: 10px;
}
.content1 {
    width: 90%;
    margin: auto;
}
.content1 h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 68px;
    font-weight: lighter;
}
.content1 span {
    color: whitesmoke;
}
.gallery-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery-image .pic {
    width: 23%;
    margin-bottom: 30px;
}
.pic img {
    width: 100%;
    border-radius: 10px;
}
.pic img:hover {
    cursor: pointer;
}

/* ------------------------------------------About Page--------------------------------------------- */

.about-page {
    background: #f7d2ad;
    padding: 20px;
}
.about-page h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 58px;
    font-weight: lighter;
    text-align: center;
}
.about-page span {
    color: tomato;
    font-family: 'Times New Roman', Times, serif;
}
.about-page h2 {
    font-weight: lighter;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}
.content3 {
    width: 90%;
    margin: auto;
}
.box-content-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-content-body span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
}

.box-content-body .box-content {
    width: 22%;
    padding: 10px;
    border: 1px solid tomato;
    line-height: 1.5;
    margin-bottom: 30px;
}
.box-content:hover {
    cursor: pointer;
    background: tomato;
}

.about-chef {
    background: linear-gradient(to top, #ff7300, orangered, orange);
    padding: 10px;
}

.content4 {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}
.content4 h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 48px;
}
.content4 span {
    color: white;
}
.content4 .text-center {
    width: 60%;
    margin: auto;
    text-align: center;
}
.box-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-img .box-image {
    width: 23%;
    text-align: center;
}
.box-image:hover {
    cursor: pointer;
}
.box-image img {
    width: 100%;
}
.box-size {
    padding: 5px;
    box-sizing: border-box;
}
.box-size h2,
.box-image p {
    color: white;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
.box-size p {
    margin-top: -15px;
}
.icon {
    justify-content: space-between;
    margin-bottom: 20px;
}
.icon .fa {
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
}

.icon .fa.fa-twitter {
    background: cornflowerblue;
}
.icon .fa.fa-youtube-play {
    background: red;
}
.icon .fa.fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
}
.icon .fa.fa-whatsapp {
    background: #25D366;
}

/* ----------------------------------------Contact Page---------------------------------------- */

.contact-page {
    background: #000;
    padding: 10px;
}
.contact-page h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 58px;
    text-align: center;
}
.content5 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.location {
    width: 49%;
    background: white;
    border-radius: 5px;
}
iframe {
    width: 100%;
    box-sizing: border-box;
    height: 52.5vh;
    border-radius: 5px;
}
.form-content {
    /* background: white; */
    width: 49%;
    text-align: center;
}
.form-content h4 {
    display: none;
}

input[type="text"] {
    background: white;
    width: 49.5%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
input[type="email"] {
    background: white;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
textarea {
    background: white;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
input[type="submit"],
input[type="reset"] {
    background: blue;
    width: 49.5%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
footer {
    background: #2e2727;
    color: white;
    padding: 20px;
    text-align: center;
}

/* ----------------------------------Responsive Page------------------------------------- */

@media (min-width: 641px) and (max-width: 1007px) {
    .menu-bar {
        padding: 12px;
    }
    .menu-bar a {
        font-size: 14px;
    }
    .head {
        height: 50vh;
    }
    .header h1 {
        font-size: 28px;
    }
    .header .box-text p,
    .header a {
        font-size: 14px;
    }
    .content h1 {
        font-size: 38px;
        margin-top: 60px;
    }
    .content h3 {
        font-size: 34px;
    }
    .content p {
        font-size: 16px;
    }
    .breakfast,
    .lunch,
    .dinner,
    .drink {
        display: flex;
        flex-wrap: wrap;
    }
    .image1,
    .image2,
    .image3,
    .image4 {
        width: 44%;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
        width: 39%;
        margin-bottom: 7px;
    }
/* -------------Gallery Page------------------- */
    .content1 h1 {
        font-size: 48px;
    }
    .gallery-image .pic {
        width: 48%;
    }
/* -------------About Page------------------- */
    .content3 h1 {
        font-size: 38px;
    }
    .content3 h2 {
        font-size: 28px;
    }
    .box-content-body .box-content {
        width: 43.5%;
    }
    .box-content span {
        font-size: 20px;
    }

    .content4 h1 {
        font-size: 38px;
        margin-bottom: -5px;
    }
    
    .box-img .box-image {
        width: 48%;
        margin-bottom: 20px;
    }
    .box-size {
        position: absolute;
        background: linear-gradient(to top, black, #080808cc, hsla(0, 0%, 1%, 0.012));
        margin-top: -145px;
        width: 100%;
    }
    .icon .fa.fa-twitter {
        background: cornflowerblue;
    }
    .icon .fa.fa-youtube-play {
        background: red;
    }
    .icon .fa.fa-instagram {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
    }
    .icon .fa.fa-whatsapp {
        background: #25D366;
    }

/* ---------------------------Contact Page------------------------- */
    .contact-page h1 {
        font-size: 38px;
    }
    iframe {
        height: 20vh;
    }
    input[type="text"] {
        width: 49%;
    }
    textarea {
        height: 14vh;
    }
    input[type="submit"],
    input[type="reset"] {
        width: 49%;
    }
    footer {
        font-size: 14px;
        padding: 15px;
    }

}

@media (min-width: 250px) and (max-width: 640px) {
    .menu-bar {
        padding: 10px;
    }
    .menu-bar a {
        display: none;
    }
    .dropdown button {
        display: block;
    }
    .dropdown button:hover {
        cursor: pointer;
    }
    .dropdown .dropbtn {
        font-size: 24px; 
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        width: 100%;
        z-index: 99;
        margin-top: -40px;
        margin-left: -10px;
    }
    .dropdown-content a {
        float: none;
        color: white;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 14px;
    }
    .dropdown-content a:hover {
        background-color: red;
    }
    .dropdown:focus-within .dropdown-content {
        display: block;
    }
/* ------------------------Head----------------------------- */
    .header h1 {
        font-size: 28px;
    }
    .header .box-text {
        width: 80%;
    }
    .header .box-text p {
        font-size: 14px;
    }
    .header a {
        font-size: 11px;
        width: 25%;
    }
    .content h1 {
        font-size: 38px;
        margin-top: 60px;
    }
    .content h3 {
        font-size: 28px;
    }
    .content p {
        font-size: 16px;
    }
    .breakfast,
    .lunch,
    .dinner,
    .drink {
        display: flex;
        flex-wrap: wrap;
    }
    .image1,
    .image2,
    .image3,
    .image4 {
        width: 100%;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
        width: 100%;
        margin-bottom: 7px;
    }

/* -------------------Gallery Page--------------------- */
    .content1 h1 {
        font-size: 38px;
        margin-top: 50px;
    }
    .gallery-image .pic {
        width: 100%;
    }

/* -------------------About Page-------------------------- */
    .content3 h1 {
        font-size: 38px;
        margin-top: 50px;
    }
    .content3 h2 {
        font-size: 28px;
    }
    .box-content-body .box-content {
        width: 100%;
    }
    .box-content span {
        font-size: 20px;
    }
    .content4 h1 {
        font-size: 38px;
        margin-bottom: -5px;
    }
    .content4 .text-center {
        width: 90%;
    }

    .box-img .box-image {
        width: 100%;
        margin-bottom: 20px;
    }
    .box-size {
        position: absolute;
        background: linear-gradient(to top, black, #080808cc, hsla(0, 0%, 1%, 0.012));
        margin-top: -145px;
        width: 100%;
    }
    .icon .fa.fa-twitter {
        background: cornflowerblue;
    }
    .icon .fa.fa-youtube-play {
        background: red;
    }
    .icon .fa.fa-instagram {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
    }
    .icon .fa.fa-whatsapp {
        background: #25D366;
    }

/* -----------------------------------Contact Page-------------------------------------- */
    .contact-page h1 {
        margin-top: 60px;
        font-size: 38px;
    }
    .location {
        width: 100%;
        margin-bottom: 20px;
    }
    iframe {
        height: 30vh;
    }
    .form-content {
        width: 100%;
        background: #15f3b0;
        padding: 10px;
        border-radius: 5px;
    }
    .form-content h4 {
        display: block;
        color: white;
        font-weight: lighter;
    }
    input[type="text"] {
        width: 100%;
        margin: 15px 0 0 0;
    }
    textarea {
        height: 14vh;
    }
    input[type="submit"],
    input[type="reset"] {
        width: 49%;
    }
    footer {
        font-size: 14px;
        padding: 15px;
    }

}